body {
  background: #000 url(../img/background.jpg) right top no-repeat;
}

#logo {
  width: 181px;
  height: 97px;
  background: url(../img/logo.png) no-repeat;
  margin: 0 50px 0 0;
}

article {
  color: #FFF;
  margin-top:60px;
  font-family: arial, sans-serif;
}

article h1 {
  border-top:1px solid #ba0000;
  color: #AFAFAF;
  font-family: Georgia, serif;
  font-size:18px;
  padding-top: 15px;
}

#logo, .menu {
  float: left;
}

.menu { width: 700px; }

.menu a {
  color: white;
  text-decoration: none;
  font: 18px Georgia, serif;
  float: left;
  display: block;
  padding: 50px 25px 20px ;
}

.menu a:hover {
  background: #b60000;
}

.current{
  background: #e90000;
}

